<ion-content [fullscreen]="true">
  <div class="logo">
    <img src="assets/logo.png" width="164px"/>
  </div>
  <div class="background-img">
    <img src="{{ bgImg }}" width="2000px" />
  </div>
  
  <div class="main">
    <ion-searchbar class="custom" placeholder="City" [debounce]="1000" (ionInput)="handleSearch($event)"></ion-searchbar>  
  </div>
  
  <ion-item button *ngFor="let result of results | slice:0:5">
    <ion-label (click)="handleSelect(result)">{{ result }}</ion-label>
  </ion-item>
  <ion-label> {{ current_city }} </ion-label>
</ion-content>
